main {
    margin: 30px 40px;
}

main > ol > li:first-child {
    margin: 0;
}

main > ol > li {
    margin-top: 15px;   
}

main > ul{
    display: block;
}

main > ul > li{
    margin-top: 20px;
}

margin > ul > li:first-child{
    margin: 0px;
}

